In [1]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/chekirou/International-conflict-prediction/master/data/actual.csv"

In [4]:
data = pd.read_csv(url)

In [5]:
data

,Country,Year,Language,Country Code,Debt,Account Balance,Corruption,GeoPoint,Foreign_Investment,GDP,...,intensity_level,minor conflict,war,conflict,internationalized internal,internal,interstate,extrasymetric,emergence,War emergence
0,Uganda,1960,0.9227,UGA,NaN,NaN,26.0,POINT(32.216658 1.533355),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,Uganda,1961,0.9227,UGA,NaN,NaN,26.0,POINT(32.216658 1.533355),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Uganda,1962,0.9227,UGA,NaN,NaN,26.0,POINT(32.216658 1.533355),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Uganda,1963,0.9227,UGA,NaN,NaN,26.0,POINT(32.216658 1.533355),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Uganda,1964,0.9227,UGA,NaN,NaN,26.0,POINT(32.216658 1.533355),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13324,"Yemen, Rep.",2015,0.0080,YEM,66.670000,-7.098624,14.0,POINT(47.891527 16.347124),-0.036231,-18.799099,...,0,1,0,1,0,1,0,0,1,0
13325,"Yemen, Rep.",2015,0.0080,YEM,66.670000,-7.098624,14.0,POINT(47.891527 16.347124),-0.036231,-18.799099,...,1,0,1,1,1,0,0,0,0,0
13326,"Yemen, Rep.",2016,0.0080,YEM,22.854350,-7.811101,14.0,POINT(47.891527 16.347124),-1.811533,-15.752675,...,1,0,1,1,1,0,0,0,0,0
13327,"Yemen, Rep.",2017,0.0080,YEM,26.855552,-7.811101,14.0,POINT(47.891527 16.347124),-1.006201,-8.194890,...,1,0,1,1,1,0,0,0,0,0
13328,"Yemen, Rep.",2018,0.0080,YEM,26.145233,-7.811101,14.0,POINT(47.891527 16.347124),-1.048132,-4.968007,...,1,0,1,1,1,0,0,0,0,0

In [13]:
data.groupby(by=["Country"]).count()

,Year,Language,Country Code,Debt,Account Balance,Corruption,GeoPoint,Foreign_Investment,GDP,Inflation,...,intensity_level,minor conflict,war,conflict,internationalized internal,internal,interstate,extrasymetric,emergence,War emergence
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,65,65,65,21,46,65,65,55,20,18,...,65,65,65,65,65,65,65,65,65,65
Albania,59,59,59,28,35,59,59,35,38,27,...,59,59,59,59,59,59,59,59,59,59
Algeria,60,60,60,50,43,60,60,50,59,50,...,60,60,60,60,60,60,60,60,60,60
American Samoa,59,59,59,0,0,0,0,0,16,0,...,59,59,59,59,59,59,59,59,59,59
Andorra,59,59,59,0,0,0,0,0,48,0,...,59,59,59,59,59,59,59,59,59,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,59,59,59,0,24,0,0,24,24,22,...,59,59,59,59,59,59,59,59,59,59
"Yemen, Rep.",67,67,67,30,15,67,67,30,29,29,...,67,67,67,67,67,67,67,67,67,67
Yugoslavia,59,59,0,0,0,0,0,0,0,0,...,59,59,59,59,59,59,59,59,59,59
Zambia,59,59,59,49,41,59,59,49,58,33,...,59,59,59,59,59,59,59,59,59,59
Zimbabwe,59,59,59,55,42,59,59,49,58,9,...,59,59,59,59,59,59,59,59,59,59

In [14]:
data.nunique()

Country                        215
Year                            59
Language                       198
Country Code                   204
Debt                          6001
Account Balance               6453
Corruption                      69
GeoPoint                       175
Foreign_Investment            7676
GDP                           9139
Inflation                     7650
Ethnicity                      186
Religion                       212
unemployment                  5276
Natural Ressources            7544
Infant Mortality              1715
incompatibility                  3
intensity_level                  2
minor conflict                   2
war                              2
conflict                         2
internationalized internal       2
internal                         2
interstate                       2
extrasymetric                    2
emergence                        2
War emergence                    2
dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13329 entries, 0 to 13328
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     13329 non-null  object
 1   Year                        13329 non-null  int64
 2   Language                    13329 non-null  float64
 3   Country Code                12680 non-null  object
 4   Debt                        8688 non-null   float64
 5   Account Balance             7023 non-null   float64
 6   Corruption                  10969 non-null  float64
 7   GeoPoint                    10969 non-null  object
 8   Foreign_Investment          8305 non-null   float64
 9   GDP                         9822 non-null   float64
 10  Inflation                   8326 non-null   float64
 11  Ethnicity                   13329 non-null  float64
 12  Religion                    13329 non-null  float64
 13  unemployment                7547 non-null   float64
 14  Natural Ressources          9005 non-null   float64
 15  Infant Mortality            10565 non-null  float64
 16  incompatibility             13329 non-null  int64
 17  intensity_level             13329 non-null  int64
 18  minor conflict              13329 non-null  int64
 19  war                         13329 non-null  int64
 20  conflict                    13329 non-null  int64
 21  internationalized internal  13329 non-null  int64
 22  internal                    13329 non-null  int64
 23  interstate                  13329 non-null  int64
 24  extrasymetric               13329 non-null  int64
 25  emergence                   13329 non-null  int64
 26  War emergence               13329 non-null  int64
dtypes: float64(12), int64(12), object(3)
memory usage: 2.7+ MB

In [18]:
list(data)

['Country',
 'Year',
 'Language',
 'Country Code',
 'Debt',
 'Account Balance',
 'Corruption',
 'GeoPoint',
 'Foreign_Investment',
 'GDP',
 'Inflation',
 'Ethnicity',
 'Religion',
 'unemployment',
 'Natural Ressources',
 'Infant Mortality',
 'incompatibility',
 'intensity_level',
 'minor conflict',
 'war',
 'conflict',
 'internationalized internal',
 'internal',
 'interstate',
 'extrasymetric',
 'emergence',
 'War emergence']

In [21]:
data[["Country", "star"]]

           Country  conflict
0           Uganda         0
1           Uganda         0
2           Uganda         0
3           Uganda         0
4           Uganda         0
...            ...       ...
13324  Yemen, Rep.         1
13325  Yemen, Rep.         1
13326  Yemen, Rep.         1
13327  Yemen, Rep.         1
13328  Yemen, Rep.         1

[13329 rows x 2 columns]