In [3]:
import streamlit as st
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
    columns=['lat', 'lon'])
df

           lat         lon
0    37.763137 -122.408180
1    37.761083 -122.398841
2    37.719240 -122.386248
3    37.759954 -122.393321
4    37.740487 -122.379139
..         ...         ...
995  37.764060 -122.396498
996  37.770205 -122.370300
997  37.781570 -122.392771
998  37.754170 -122.421598
999  37.785871 -122.381853

[1000 rows x 2 columns]

In [4]:
df = pd.read_csv("streamlit map example, country dataset.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             245 non-null    object
 1   latitude            244 non-null    float64
 2   longitude           244 non-null    float64
 3   probability of war  245 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.8+ KB

In [9]:
df[["latitude", "longitude"]]

      latitude  longitude
0    42.546245   1.601554
1    23.424076  53.847818
2    33.939110  67.709953
3    17.060816 -61.796428
4    18.220554 -63.068615
..         ...        ...
240  15.552727  48.516388
241 -12.827500  45.166244
242 -30.559482  22.937506
243 -13.133897  27.849332
244 -19.015438  29.154857

[245 rows x 2 columns]

In [ ]:
layer = pdk.Layer(
    'HexagonLayer',
    df,
    get_position=['lng', 'lat'],
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,                 
    coverage=1)

# Set the viewport location
view_state = pdk.ViewState(
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

# Combined all of it and render a viewport
r = pdk.Deck(layers=[layer], initial_view_state=view_state)
r.show()